.deps
.dirstamp
.Tpo
*.o
*.a
*.defs.*
*.user.*
*.server.*
*.info
*.info-*
autom4te.cache/
build-aux/
mach/
INSTALL
Makefile
Makefile.in
aclocal.m4
config.h*
config.log
config.status
config.status.orig
configure
gnumach
gnumach-undef
gnumach-undef-bad
gnumach.msgids
stamp-h1
stamp-vti
version.c
version.texi

i386/i386/i386asm.h
tests/test-mbchk

# Ignore arch symlinks
machine
linux/src/include/asm
linux/dev/include/asm
