*~

.deps/
.dirstamp
*.o
*.a
/gnumach
/gnumach-undef
/gnumach-undef-bad
/gnumach.msgids

# Makerules.am
*.gz
*.stripped

# Makerules.mig.am
*.user.*
*.server.*

autom4te.cache/
build-aux/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/config.status.orig
/configure
/stamp-h1
/version.c

# Ignore arch symlinks
/machine
/mach/machine
/linux/src/include/asm
/linux/dev/include/asm

/doc/mach.aux
/doc/mach.cp
/doc/mach.cps
/doc/mach.fn
/doc/mach.fns
/doc/mach.ky
/doc/mach.log
/doc/mach.pdf
/doc/mach.pg
/doc/mach.toc
/doc/mach.tp
/doc/mach.vr
