Source: gnumach
Section: base
Priority: optional
Maintainer: GNU Hurd Maintainers <bug-hurd@gnu.org>
Standards-Version: 3.5.6.0
Build-Depends: mig, sharutils

Package: gnumach
Section: base
Priority: optional
Architecture: hurd-i386
Description: The GNU version of the Mach microkernel
 This is the Utah Mach microkernel used by the Hurd.

Package: gnumach-dbg
Section: devel
Priority: extra
Provides: gnumach
Architecture: hurd-i386
Description: The GNU version of the Mach microkernel for debugging
 This is the Utah Mach microkernel used by the Hurd.
 .
 The version in this package is identical to the version found in the
 gnumach package, except that it is not stripped and has the
 kernel-level debugger compiled in.

Package: gnumach-dev
Section: devel
Priority: optional
Architecture: hurd-i386
Description: The GNU version of the Mach microkernel
 These are the header files for the Utah Mach microkernel used by the Hurd.
